<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
      <div class="form-login">
        <form action="/users/login" method="POST">
          <div>
            <label for="email">Email: </label>
            <input type="text" name="email" class="form-control input-sm chat-input">
          </div>
          <div>
            <label for="password">Password: </label>
            <input type="password" name="password" class="form-control input-sm chat-input">
          </div>
          <br>
          <input type="submit" value="submit" class="btn btn-primary btn-md">
        </form>
      </div>
    </div>
  </div>
</div> <!-- /container -->
