<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">

      <h1>Sign up Page!</h1>
      <br>
      <form action="/users/signup" method="post">
        <div>
          <label for="name">Name: </label>
          <input type="text" name="name" class="form-control input-sm chat-input">
        </div>
        <div>
          <label for="email">Email: </label>
          <input type="text" name="email" class="form-control input-sm chat-input">
        </div>
        <div>
          <label for="password">Password: </label>
          <input type="password" name="password" class="form-control input-sm chat-input">
        </div>
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div> <!-- /container -->
