<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <br>
  <title>Sign up</title>
  <%- include ../partials/head %>

</head>
<body  id="frontpage" background='/img/sign_in.jpg'>
  <header>
    <%- include ../partials/signupnav %>
  </header>
  <br>
  <%- include ../partials/signup %>

</body>
</html>
