<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <%- include ../partials/head %>

</head>
<body id="frontpage" background='/img/profile_update.jpg'>
  <header>
    <%- include ../partials/nav %>
  </header>
  <br>

  <%- include ../partials/profile_update %>

  <%- include ../partials/footer %>

</body>
</html>
